*{
    box-sizing: border-box;
}
.bookData{
    display: inline-flex;
    width:100%;
    padding: 10px;
    justify-content: space-between;
    border: black solid 2px;
    background-color: hsl(0, 50%, 70%);
}
#tableHeader{
    margin-bottom: 20px;
}
.header{
    width:100%;
    display:inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color:hsl(284, 17%, 69%);
}
.header>button{
    height:50px;
}
#newBookForm{
    border:black solid 2px;
}